<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
    	http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<bean id="firstQuery" class="java.lang.String">
		<constructor-arg>
			<value>select * from Questions</value>
		</constructor-arg>
	</bean>

	<bean id="db.pg.username" class="java.lang.String">
		<constructor-arg>
			<value>postgres</value>
		</constructor-arg>
	</bean>

	<bean id="db.pg.password" class="java.lang.String">
		<constructor-arg>
			<value>postgres</value>
		</constructor-arg>
	</bean>
	<bean id="db.pg.url" class="java.lang.String">
		<constructor-arg>
			<value>jdbc:postgresql://localhost:5432/2020s1-quiz-database</value>
		</constructor-arg>
	</bean>


	<bean id="questionDAO" class="fr.epita.quiz.services.QuestionDAO" />

	<!-- <bean id="dataSourceBean"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName"
			value="org.postgresql.Driver" />
		<property name="url"
			value="jdbc:postgresql://localhost:5432/2020s1-quiz-database" />
		<property name="username" value="postgres" />
		<property name="password" value="postgres" />
	</bean>
 -->
	<bean id="questioDAO" class="fr.epita.quiz.services.QuestionJPADAO" />

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="url" value="jdbc:h2:mem:test;DB_CLOSE_DELAY=-1"></property>
		<property name="username" value="test"></property>
		<property name="password" value="test"></property>
		<property name="driverClassName" value="org.h2.Driver"></property>
	</bean>

	<bean
		class="org.springframework.beans.factory.config.PropertiesFactoryBean"
		id="hibernateProperties">
		<property name="properties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.H2Dialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.connection.autocommit">false</prop>
			</props>
		</property>
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="hibernateProperties"
			ref="hibernateProperties" />
		<property name="packagesToScan">
			<list>
				<value>fr.epita.quiz.datamodel</value>
			</list>
		</property>
	</bean>
</beans>