<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	lang="en">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>


<body>

	<div class="container-fluid">
		<div class="row">
			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
				<h1>Creating Reviewer</h1>
				<form action"#" th:action="@{/reviewers/create}"
					th:object="${reviewer}" method="post">
					<p>
						Reviewer name <input type="text" th:field="*{name}" />
					</p>
					<p>
						Reviewer BirthDate <input type="date" th:field="*{birthDate}" />
					</p>
					<p>
						<input type="submit" value="Submit" /> <input type="reset"
							value="Reset" />
					</p>
				</form>
			</main>
		</div>
	</div>
</body>
</html>